@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Humble Introduction";
}

<!--Name and Picture-->
<div>
    <h1> My name is Tanner Glazier</h1>
    <img src="img/SomethingILikeToDo.jpg" /><br /><br />
</div>

<!--Course Expectations-->
<p>
    I hope to learn better progamming skills along with the ability to use an new IDE.
    I want to gain more exposure to different methods of programming.
    I want to learn more about ASP.Net and how I can use it to impove the programs that I write.
</p>

<!--Top 3 jobs-->
<div>
    <h3>Top 3 Jobs</h3>
    <ul>
        <li>Machine Learning Specialist</li>
        <li>Data Analyst</li>
        <li>Web Developer</li>
    </ul>
</div>
<br />


